body {
	background: #999;
}

img {
	width: 100px;
	position: relative;
}

.inizia {
	font-family: Skranji;
	font-size: 50px;
	color: rgb(0, 41, 255);
	position: relative;
	left: 27px;
	top: 16px;
}

.pec, .lup, .cav {
	height: 100px;
}

.clicca {
	cursor: pointer;
}

#sx, #dx {
	width: 308px;
	height: 308px;
	background: #5E9499;
}

#zat {
	width: 308px;
	height: 108px;
	background: #43AA3E;
	margin-top: 100px;
	position: relative;
}

#sx, #zat {
	float: left;
}

#dx {
	float: right;
}

#button {
	display: none;
	clear: both;
	margin: auto;
	width: 130px;
	background: #2867EC;
	text-align: center;
	padding: 10px;
	font-family: Skranji;
	border: 1px solid black;
	box-shadow: 0 0 5px black;
	font-size: 30px;
	cursor: pointer;
}

#dialog {
	display: none;
	position: absolute;
	top: 0px;
	width: 450px;
	font-family: sans-serif;
	background: rgb(255, 224, 0);
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
	text-align: center;
}
